.header-img {
  width: 100%;
  height: 380px;
  background: url("brainyjam-plnofarebne.png");
  background-size: 100% 100%;
  border: solid;
  border-color: #5e81d1;
  border-radius: 105px;
}
.odd {
  background-color: #a1c3d1;
  border-radius: 30px;
  padding-left: 30px;
}
.even {
  background-color: #b39bc8;
  border-radius: 30px;
  padding-left: 30px;
}
body {
  background-color: #cbcfd6;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
h1 {
  text-align: center;
  color: #5e81d1;
}
.submit {
  background-color: #a1c3d1;
  border-radius: 150px;
  border-color: #b39bc8;
  font-size: 25px;
}

.form {
  text-align: center;
  background-color: rgb(212, 242, 201);
  border-radius: 65px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid;
}

.footer {
  background-color: #a1c3d1;
}
